@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif; */
}

.wrapper_container {
  @apply mx-auto  w-[95%] min-[1350px]:w-[87%] 3xl:w-[70%] min-[2050px]:w-[63%] min-[2380px]:w-[53%];
}

.flex-center {
  @apply flex items-center justify-center;
}
.btn__backgroundcolor {
  @apply bg-gradient-to-r from-orange to-pink;
}
.btn__backgroundcolor:hover {
  @apply bg-gradient-to-r from-pink to-orange;
}

.industry_overlay_gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card_bottom_shadow {
  transition: all 200ms;
  box-shadow: 0px 0px 50px -17px rgba(0, 0, 0, 0.1);
}

.card_shadow {
  transition: all 200ms ease-in;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.card_shadow:hover {
  box-shadow: 0px 5px 43px -13px rgba(0, 0, 0, 0.1);
}

.rule_grid {
  gap: var(--gap);

  --gap: 1rem;
  --line_thickness: 1px;
  --line-offset: calc(var(--gap) / 2);
}

.rule_grid > .card {
  position: relative;
}

.rule_grid > .card::after,
.rule_grid > .card::before {
  @apply bg-gray-600;

  content: "";
  position: absolute;
}

/* row lines */
.rule_grid > .card::after {
  width: 100vw;
  height: var(--line_thickness);
  top: calc(var(--line-offset) * -1);
  left: 0;
}

.rule_grid > .card::before {
  width: var(--line_thickness);
  height: 100vh;
  top: 0;
  left: calc(var(--line-offset) * -1);
}
.border_color {
  border-bottom: 3px solid black;
}

.contact_headings {
  @apply text-xl lg:text-[25px] mb-2 font-[600] lg:font-[500];
}
.contact_info {
  @apply text-lg tracking-wider font-[500];
}

.footer_headings {
  @apply font-[600] text-xl tracking-wider;
}
.footer_info {
  @apply font-[500] text-lg tracking-wider;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}

.slick-arrow {
  display: none !important;
}

.case_study_headings {
  @apply text-2xl md:text-[35px] font-[500] text-gray-800 md:leading-snug mb-8;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
