@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif; */
}

.wrapper_container {
  @apply mx-auto  w-[95%] min-[1350px]:w-[87%] 3xl:w-[70%] min-[2050px]:w-[63%] min-[2380px]:w-[53%];
}

.flex-center {
  @apply flex items-center justify-center;
}
.btn__backgroundcolor {
  @apply bg-gradient-to-r from-orange to-pink;
}
.btn__backgroundcolor:hover {
  @apply bg-gradient-to-r from-pink to-orange;
}

.rule_grid {
  gap: var(--gap);

  --gap: 1rem;
  --line_thickness: 1px;
  --line-offset: calc(var(--gap) / 2);
}

.rule_grid > .card {
  position: relative;
}

.rule_grid > .card::after,
.rule_grid > .card::before {
  @apply bg-gray-600;

  content: "";
  position: absolute;
}

/* row lines */
.rule_grid > .card::after {
  width: 100vw;
  height: var(--line_thickness);
  top: calc(var(--line-offset) * -1);
  left: 0;
}

.rule_grid > .card::before {
  width: var(--line_thickness);
  height: 100vh;
  top: 0;
  left: calc(var(--line-offset) * -1);
}

/* 
background-color: #f6702d;
background-image: linear-gradient(90deg, #f6702d 0%, #d1304d 100%); */

/* carousel styles */

.slick-list {
  overflow: visible !important;
  padding-bottom: 50px !important;
}

.slick-slide {
  opacity: 0;
  pointer-events: none;
}

.slick-slide.slick-active {
  opacity: 1;
  pointer-events: auto;
}
.slick-cloned.slick-active {
  opacity: 1;
}

.slick-active {
  transition: all 300ms;
  scale: 0.95;
}

.slick-current {
  scale: 1.15;
}

.slick-arrow {
  display: none !important;
}
