@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif; */
}

.wrapper_container {
  @apply mx-auto  w-[95%] xl:w-[80%] 3xl:w-[50%];
}

.flex-center {
  @apply flex items-center justify-center;
}
.btn__backgroundcolor {
  @apply bg-gradient-to-r from-orange to-pink;
}
.btn__backgroundcolor:hover {
  @apply bg-gradient-to-r from-pink to-orange;
}

/* 
background-color: #f6702d;
background-image: linear-gradient(90deg, #f6702d 0%, #d1304d 100%); */
